<div class="box message-item <%= 'has-background-light' if message.user == current_user %>">
  <p class="is-size-7 has-text-grey">
    <strong><%= message.user.nombre %></strong>
    &nbsp;–&nbsp;
    <%= l(message.created_at, format: :short) %>
  </p>
  <div class="content">
    <%= simple_format(message.content) %>
  </div>
</div>
