<div class="box message-item mb-2">
  <p class="is-size-7">
    <strong><%= message.user.nombre %></strong>
    &nbsp;-&nbsp;
    <%= l(message.created_at, format: :short) %>
  </p>
  <div class="content">
    <%= simple_format(message.content) %>
  </div>
</div>
