<div class="box message-item has-background-light">
  <p class="is-size-7 has-text-grey">
    <strong><%= message.user.nombre %></strong> &nbsp;–&nbsp;
    <%= message.created_at.strftime("%d %b %H:%M") %>
  </p>
  <div class="content">
    <p><%= message.content %></p>
  </div>
</div>
