<section class="section">
  <div class="container">
    <h1 class="title">Editar Blog Rechazado</h1>
    <%= render 'form', 
          blog: @blog, 
          form_url: reenviar_moderacion_blog_path(@blog), 
          form_method: :patch, 
          submit_text: 'Reenviar a Moderación',
          show_cancel: true,
          cancel_path: mis_blogs_path %>
  </div>
</section>