<section class="section">
  <div class="container">
    <h1 class="title mb-4">Crear Blog</h1>
    <%= render 'form', 
          blog: @blog, 
          form_url: blogs_path, 
          form_method: :post, 
          submit_text: 'Crear Blog' %>
  </div>
</section>