<section class="section landing-features">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-3 has-text-centered">
        <span class="icon is-large"><i class="fas fa-book fa-2x"></i></span>
        <h3 class="title is-5 mt-2">Historia Completa</h3>
        <p>Descubre la cronología y los eventos clave de la saga.</p>
      </div>
      <div class="column is-3 has-text-centered">
        <span class="icon is-large"><i class="fas fa-users fa-2x"></i></span>
        <h3 class="title is-5 mt-2">Personajes Icónicos</h3>
        <p>Información detallada de héroes y villanos.</p>
      </div>
      <div class="column is-3 has-text-centered">
        <span class="icon is-large"><i class="fas fa-gamepad fa-2x"></i></span>
        <h3 class="title is-5 mt-2">Guías y Reseñas</h3>
        <p>Tips, walkthroughs y análisis de juegos.</p>
      </div>
      <div class="column is-3 has-text-centered">
        <span class="icon is-large"><i class="fas fa-comments fa-2x"></i></span>
        <h3 class="title is-5 mt-2">Comunidad Activa</h3>
        <p>Comparte tus opiniones y teorías con otros fans.</p>
      </div>
    </div>
  </div>
</section>
