<footer class="footer has-background-black has-text-white-ter">
  <div class="content has-text-centered">
    <p>
      <strong class="has-text-info">
        <a href="https://github.com/vruizz22/ResidentEvilWiki" class="has-text-info" target="_blank" rel="noopener">
          Resident Evil Wiki
        </a>
      </strong>
      — Proyecto UC 2025-1 Grupo 56 IIC2143<br>
      Desarrollado con <a href="https://bulma.io" class="has-text-info-light" target="_blank" rel="noopener">Bulma</a> y Ruby on Rails.
    </p>
    <p class="mt-6">
      <span class="mx-6">
        <a href="https://github.com/raulz1104" class="icon has-text-white-ter mx-1" target="_blank" rel="noopener" title="GitHub Usuario 1">
          <i class="fab fa-github"></i> raulz1104
        </a>
      </span>
      <span class="mx-6">
        <a href="https://github.com/elisaorchard" class="icon has-text-white-ter" target="_blank" rel="noopener" title="GitHub Usuario 2">
          <i class="fab fa-github"></i> elisaorchard
        </a>
      </span>
      <span class="mx-6">
        <a href="https://github.com/vruizz22" class="icon has-text-white-ter" target="_blank" rel="noopener" title="GitHub Usuario 3">
          <i class="fab fa-github"></i> vruizz22
        </a>
      </span>
    </p>
  </div>
</footer>