<section class="hero is-dark is-fullheight-with-navbar landing-hero">
  <div class="hero-body has-text-primary">
    <div class="container has-text-centered">
      <h1 class="title is-1 landing-title-shadow">Resident Evil Wiki</h1>
      <h2 class="subtitle is-4 landing-title-shadow">La enciclopedia colaborativa de la saga Resident Evil</h2>
    </div>
  </div>
</section>