.register-hero {
  background: url('auth/register.jpg') center center/cover no-repeat;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.register-hero-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.register-box {
  max-width: 480px;
  margin: auto;
}